@font-face {
    font-family: "TT Marxiana Trial Elzevir";
    src: url("./fonts/TT Marxiana Trial Elzevir.ttf");
}

@font-face {
    font-family: "Evolventa-Regular";
    src: url("./fonts/Evolventa-Regular.ttf");
}

@font-face {
    font-family: "TTSmalls-Regular";
    src: url("./fonts/TTSmalls-Regular.ttf");
}

@font-face {
    font-family: "TTSmalls-Bold";
    src: url("./fonts/TTSmalls-Bold.ttf");
}

html {
  background: #e9edef;
  font-family: "Evolventa-Regular";
  color: #444343;
}

.title {
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  color: #27302B;
}

h1 {
  font-family: "TT Marxiana Trial Elzevir", sans-serif;
  font-size: 31px;
}

section:last-child {
  padding-bottom: 60px;
}

h3 {
  font-family: "TTSmalls-Bold";
  font-size: 14px;
}

h2 {
  font-size: 18px;
  font-weight: 800;
  font-family: "TTSmalls-Bold";

  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: rgb(93, 142, 174);
    margin: 5px auto;
  }
}

.body {
  max-width: 670px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #D3D6D8;
  padding: 20px;
}

.header {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "banner img tel"
    "banner img slogan";

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 20px auto auto;
    grid-template-areas: 
    "banner"
    "tel"
    "img"
    "slogan";
  }


}

.banner { 
  grid-area: banner;

  font-family: "TT Marxiana Trial Elzevir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 12px;
  color: #3F7698;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
 }

 .img {
  margin: 0 auto;
  width: 216px;
  height: 224px;
  border-radius: 0 0 100% 100%;

  @media (max-width: 660px) {
    width: 150px;
    height: 160px;
  }

  @media (max-width: 5750px) {
    width: 216px;
    height: 224px;
  }
 }

 .tel {
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding: 0 15px;
 }

 .slogan {
  margin: 0;
  margin-top: -10px;
  font-size: 10px;
  text-align: center;
  color: #3F7698;
  letter-spacing: 1.5px;
  padding: 0 15px;

   @media (max-width: 575px) {
    margin: 15px auto;
    width: 200px;

   }
 }

.img { grid-area: img; }
.tel { grid-area: tel; }
.slogan { grid-area: slogan; }

.main {
  padding: 0 30px;
}



li {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.text {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.center-text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 11px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  ul {
    margin: 0;
    padding: 0;
  }

  @media (max-width: 660px) {
    flex-wrap: wrap;
    justify-content: center;
    
    div {
      margin: 10px;
    }
  }
}

.list-block {
  max-width: 180px;
  padding-left: 15px;
  

  @media (min-width: 661px) {
    &:nth-child(2) {
    padding-left: 40px;

    ul {
      padding-left: 15px;
    }
  };

  &:nth-child(3) {
    padding-left: 20px;

     ul {
      padding-left: 20px;
    }
  };
  }

}

h3 {
  margin: 10px 0;
}

.date {
  text-align: center;
  font-size: 12px;
  margin: -10px 0 20px;
  letter-spacing: 1px;
}

.text {
  margin: 0;
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 20px;
}

.large-ul {
  margin: 0;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 20px;
}

.comp {
  margin: 50px 0;
}