@font-face {
    font-family: "TT Marxiana Trial Elzevir";
    src: url("./fonts/TT Marxiana Trial Elzevir.ttf");
}

@font-face {
    font-family: "Evolventa-Regular";
    src: url("./fonts/Evolventa-Regular.ttf");
}

@font-face {
    font-family: "TTSmalls-Regular";
    src: url("./fonts/TTSmalls-Regular.ttf");
}

@font-face {
    font-family: "TTSmalls-Bold";
    src: url("./fonts/TTSmalls-Bold.ttf");
}

html {
  background: #e9edef;
  font-family: "Evolventa-Regular";
  color: #444343;
}

.title {
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  color: #27302B;
}

h1 {
  font-family: "TT Marxiana Trial Elzevir", sans-serif;
  font-size: 31px;
}

h3 {
   font-family: "TTSmalls-Bold";
   font-size: 14px;
}

h2 {
  font-size: 18px;
  font-weight: 800;
  font-family: "TTSmalls-Bold";

  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: rgb(93, 142, 174);
    margin: 5px auto;
  }
}

.body {
  max-width: 670px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #D3D6D8;
  padding: 20px;
}

.header {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
    "banner img tel"
    "banner img slogan"
}

.banner { 
  grid-area: banner;

  font-family: "TT Marxiana Trial Elzevir", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 12px;
  color: #3F7698;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .img {
  width: 216px;
  height: 224px;
  border-radius: 0 0 100% 100%;
 }

 .tel {
  font-size: 11px;
  text-align: center;
 }

 .slogan {
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F7698;
 }

.img { grid-area: img; }
.tel { grid-area: tel; }
.slogan { grid-area: slogan; }

main {
  padding: 20px;
}

.center-text {
  text-align: center;
  letter-spacing: 2px;
  font-size: 11px;
}

.list-container {
  display: flex;
}